<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Home page">
    <meta name="author" content="Lauren Broski">
    <title> Covid-19 Control </title>
    <script src="https://kit.fontawesome.com/c807ac2220.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/Media/images/virus.png" type="img/png" />
    <link rel="stylesheet" href="/public/CSS/stylesheet.css">
    <script defer src="../public/js/functions.js"></script>

</head>

<body>

    <header>
        <ul id="navBar">
            <span><li><a href="/"> Home Page</a> </li> </span>
            <span><li><a href="../news_Page"> News Articles</a> </li> </span>
            <span><li><a href="../trends"> Trends</a> </li> </span>
            <span><li><a href="../about"> About Us </a> </li> </span>
            <span><li><a href="../resources_Page"> Resources</a> </li> </span>
        </ul>
    </header>

    <h1> Covid-19 Control</h1>
    <h2> About </h2>


    <section id="about_me">
        <h2 id="auth_title"> Meet the Author </h2>
        <figure>
            <img id="portrait">
            <img src="/public/Media/images/portrait.jpg" alt="Portrait of a Lauren in an orange shirt against a solid tan background " width="370" height="400">
        </figure>
        <p id="about"> This website was created by a student, Lauren Broski, in Oakland University's CSI 2520: Interactive Web Systems class. The purpose of this project was to demsontrate knowledge about being able work with HTML, CSS, JavaScript, NodeJS/ExpressJS,
            and MySQL to create a full stack development project. I wanted to design a web application that would be educational and useful in today's society. I choose the pandemic to talk about because for the past two years, Coronavirus has dominated
            our everday lives and really turned life as we knew it upside down. For the past two years, there has been a lot of misconceptions/misinformation floating about aorund the virus. I wanted to provide some factual evidence to hopefully help
            someone who needs some clarity on the topic. Now we are slowly starting to adjust to a new normal, but caution is still important as variants are coming up as the virus is constantly mutating. A lot the precautionary measures from the past
            are still are still some of our most powerful resources today and I think this website serves a good reminder of that.
        </p> <br>
    </section>

    <h2 id="org_email"> Email Us! </h2>
    <section id="email">
        <label for="name">Enter Your Name</label><br>
        <textarea id="name" name="name" rows="3" cols="30"> </textarea>

        <br>
        <br>

        <label for="userEmail">Enter Your Email</label><br>
        <textarea id="uEmail" name="uEmail" rows="3" cols="50"> </textarea>


        <br>
        <br>

        <a href="mailto:laurenbroski@oakland.edu"><button type="submit" value="submit id="send>Send a Message</button></a>
        <br>


    </section>