<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Home page">
    <meta name="author" content="Lauren Broski">
    <title> Covid-19 Control </title>
    <script src="https://kit.fontawesome.com/c807ac2220.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/Media/images/virus.png" type="img/png" />
    <link rel="stylesheet" href="/public/CSS/stylesheet.css">
    <script defer src="../public/js/functions.js"></script>

</head>

<body>

    <header>
        <ul id="navBar">
            <span><li><a href="/"> Home Page</a> </li> </span>
            <span><li><a href="../news_Page"> News Articles</a> </li> </span>
            <span><li><a href="../trends"> Trends</a> </li> </span>
            <span><li><a href="../about"> About Us </a> </li> </span>
            <span><li><a href="../resources_Page"> Resources</a> </li> </span>
        </ul>
    </header>

    <h1> Covid-19 Control</h1>
    <br>


    <h2> Frequently Asked Questions </h2>
    <section class="questionAndAnswer-container">

        <div class="faqOne">
            <h4 class="q1"> What is Covid-19? </h4>
            <div class="faqOneAns">
                <p>Covid-19 is virus formally known as SARS-CoV-2. First known cases date back to December 2019 in Wuhan, China. It is a virus that attacks the respiratory system. This virus is particulary harmful to the eldery population and people that
                    are immunocomprised. However, even if you are a young and healthy indvidual that does not mean you are invincible against Covid-19. There are multiple variants, the latest being Omicron.
                </p>
            </div>
        </div>

        <div class="faqTwo">
            <h4 class="q2">How is Covid-19 Spread?</h4>
            <div class="faqTwoAns">
                <p> Covid-19 is spread when an infected individual breathes out droplets and particles. These droplets can linger in the air, such as when a person is talking and on surfaces, like a doorknob.
                </p>
            </div>
        </div>


        <div class="faqThree">

            <h4 class="q3">What are symptoms of Covid-19?</h4>
            <div class="faqThreeAns">
                <p> While this list in not extensive, common symptoms include:
                    <li> Cough </li>
                    <li> Fever </li>
                    <li> Difficulty breathing or shortness of breathe</li>
                    <li> Loss of smell and/or taste </li>
                    <li> Nausea or vomitting </li>
                    <li> Muscle aches </li> <br> It is important to note, some Covid-19 infections can be asymptomatic.
                </p>
            </div>
        </div>


        <div class="faqFour">

            <h4 class="q4">How can I protect myself?</h4>
            <div class="faqFourAns">
                <p> This most critical things you can do to protect yourself is to
                    <li> Get vaccinated</li>
                    <li> Wear a mask</li>
                    <li> Wash your hands frequently</li>
                    <li> Social distancee 6 feet away from others </li> <br> However, even if you do all these, there is still a possibility of getting infected. If you are feeling sick, be sure to get to tested.
                </p>
            </div>
        </div>

    </section>




    <section id=" introductory_video ">
        <div id="Video_File ">
            <h2 id="WHO_Video "> World Health Organization's Introduction to Covid-19 </h2>
            <video src="/public/Media/Video/Coronavirus disease (COVID-19).mp4 " controls width="45% ">
              Video element not supported by browser.
            </video>
        </div>
    </section>

    <a href="./survey">
        <button id="h_survey">Health Survey</button>
    </a>



    <span class="name_entry ">
        <h4 class ="name-question ">
            New Here?
            <form onsubmit = "return wlecomeUser(); " class="enter-name ">
                <input type="text " id="username " placeholder="Type name here... ">
            </form>
        </h4>
    </span>

    <span class="welcome-area">
<div class="nameDisplay ">
<p><span id="theirName"></span></p>
    </div>


    <link rel="stylesheet" href="/public/CSS/stylesheet.css">
    <script defer src="../public/js/functions.js"></script>



</body>

</html>