<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Home page">
    <meta name="author" content="Lauren Broski">
    <title> Covid-19 Control </title>
    <script src="https://kit.fontawesome.com/c807ac2220.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/Media/images/virus.png" type="img/png" />
    <link rel="stylesheet" href="/public/CSS/stylesheet.css">
    <script type="text/javascript" src="/public/JS/functions.js"></script>

</head>

<body>

    <header>
        <ul id="navBar">
            <span><li><a href="/"> Home Page</a> </li> </span>
            <span><li><a href="../news_Page"> News Articles</a> </li> </span>
            <span><li><a href="../trends"> Trends</a> </li> </span>
            <span><li><a href="../about"> About Us </a> </li> </span>
            <span><li><a href="../resources_Page"> Resources</a> </li> </span>
        </ul>
    </header>

    <h1> Covid-19 Control</h1>
    <h2> In The News</h2>
    <p id=news_Description> Click on the images to go the linked articles below</p>


    <div class="news-grid-container">


        <article class="article-one"> World Health Organization Identifies Omicron Variant <br>
            <a href="https://www.who.int/news/item/26-11-2021-classification-of-omicron-(b.1.1.529)-sars-cov-2-variant-of-concern" target="_blank">
                <img src="/public/Media/images/omnicronvariant.jpg" height="150" width="250"> </a>
        </article>

        <article class="article-two"> FDA Authorizes Pfizer Vaccinations For Kids From 5-11 Years Old <br>
            <a href="https://www.fda.gov/news-events/press-announcements/fda-authorizes-pfizer-biontech-covid-19-vaccine-emergency-use-children-5-through-11-years-age" target="_blank">
                <img src="/public/Media/images/vaccine.jpg" height="150" width="250"> </a>

        </article>

        <article class="article-three"> Covid Death Toll Hits 5 Million People<br>
            <a href="https://www.npr.org/2021/11/01/1051020063/the-covid-19-pandemic-has-killed-5-million-people-globally" target="_blank">
                <img src="/public/Media/images/wfmemorial.jpeg" height="150" width="250"> </a>
        </article>

        <article class="article-four"> What Are The Real Origins of Covid-19? <br>
            <a href="https://thebulletin.org/2021/05/the-origin-of-covid-did-people-or-nature-open-pandoras-box-at-wuhan/" target="_blank">
                <img src="/public/Media/images/wuhanlab.jpeg" height="150" width="250"> </a>
        </article>
    </div>

</body>

</html>