<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Home page">
    <meta name="author" content="Lauren Broski">
    <title> Covid-19 Control </title>
    <script src="https://kit.fontawesome.com/c807ac2220.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/Media/images/virus.png" type="img/png" />
    <link rel="stylesheet" href="/public/CSS/stylesheet.css">
    <script type="text/javascript" src="/public/JS/functions.js"></script>

</head>

<body>

    <header>
        <ul id="navBar">
            <span><li><a href="/"> Home Page</a> </li> </span>
            <span><li><a href="../news_Page"> News Articles</a> </li> </span>
            <span><li><a href="../trends"> Trends</a> </li> </span>
            <span><li><a href="../about"> About Us </a> </li> </span>
            <span><li><a href="../resources_Page"> Resources</a> </li> </span>
        </ul>
    </header>

    <h1> Covid-19 Control</h1>
    <h2> Resources: </h2>

    <div class="resouece_grid">
        <div class="mh_Resources">
            <a href="https://www.cdc.gov/mentalhealth/stress-coping/index.html" target="_blank">
                <img src="/public/Media/images/mh_resource.jpg" width="250" height="250"> </a>
            <p id="mentalHealth"> Coping with stress during the pandemic </p>

        </div>
        <div class="vaccinationMap">
            <a href="https://www.vaccines.gov/search/" target="_blank">
                <img src="/public/Media/images/maplocator.png" width="250" height="250"> </a>
            <p id="vLocation"> Vaccination Locator </p>
        </div>

        <div class="travel">
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/travelers/index.html" target="_blank">
                <img src="/public/Media/images/airport.jpeg" width="250" height="250"> </a>
            <p id="travelRestrictions"> Travel Restrictions and Requirements </p>
        </div>

        <div class="food_assistance">
            <a href="https://www.fns.usda.gov/disaster/pandemic/covid-19/resources-individuals-families" target="_blank">
                <img src="/public/Media/images/agriculture.png" width="250" height="250"> </a>
            <p id="USDA"> Food Assistance </p>
        </div>

        <div class="housing_help">
            <a href="https://home.treasury.gov/policy-issues/coronavirus/assistance-for-state-local-and-tribal-governments/emergency-rental-assistance-program/program-index" target="_blank">
                <img src="/public/Media/images/housing.png" width="250" height="250"> </a>
            <p id="rental"> Rental Help </p>
        </div>

        <div class="unemploymentHelp">
            <a href="https://www.michigan.gov/leo/0,5863,7-336-94422_97241---,00.html" target="_blank">
                <img src="/public/Media/images/employment.png" width="250" height="250"> </a>
            <p id="job_aid"> Unemployment Aid </p>
        </div>


</body>

</html>