<!DOCTYPE html>

<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="description" content="Home page">
    <meta name="author" content="Lauren Broski">
    <title> Covid-19 Control </title>
    <script src="https://kit.fontawesome.com/c807ac2220.js" crossorigin="anonymous"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-cartesian.min.js"></script>
    <link rel="shortcut icon" href="/public/Media/images/virus.png" type="img/png" />
    <link rel="stylesheet" href="/public/CSS/stylesheet.css">
    <script defer src="../public/js/functions.js"></script>


</head>

<body>

    <header>
        <ul id="navBar">
            <span><li><a href="/"> Home Page</a> </li> </span>
            <span><li><a href="../news_Page"> News Articles</a> </li> </span>
            <span><li><a href="../trends"> Trends</a> </li> </span>
            <span><li><a href="../about"> About Us </a> </li> </span>
            <span><li><a href="../resources_Page"> Resources</a> </li> </span>

        </ul>
    </header>

    <h1> Covid-19 Control</h1>
    <h2> Trends: </h2>
    <p id="t_summary"> Synapsis of quick facts, with data coming from the last two weeks as of December 10, 2021. </p>

    <div id="ageVaxContainer">
        <p> This graph shows the percentages of fully vaccinated individuals in the United States by Age. Data from this chart comes from Mayo Clinic </p>
    </div>
    <div id="stateVaxContainer">
        <p> This graph shows the average percentages of individuals who have received at least one dose of the vaccine in the United States by state. Data from this chart comes from Mayo Clinic </p>

    </div>

    <div class="trendingData">
        <h3>US Trends</h3>
        <form>
            <ul>
                <li> +481 million doses of the vaccine have been given out </li>
                <li> 200 million peop]e have been fully vaccinated </li>
                <li> There have been 49,792,430 reported cases</li>
                <li> The death count has reached: 795,301 </li>
                <li> More than 120,000 coronavirus cases are emerging daily</li>
                <li> New Hampshire is leading the country in recent cases per capita</li>
                <li> Michigan has the highest hospitalization rate</li>
            </ul>
        </form>
    </div>

    <div class="statsOverview">
        <h3>Stats at a Glance</h3>
        <form>
            <ul>
                <li> Over the past 14 days, there has been a 38% increase in reported cases </li>
                <li> There has been a +12% increase in tests administered </li>
                <li> Hospitalizations are up 22%</li>
            </ul>
        </form>
    </div>


</body>

</html>